body {
    background-color: black;
}

#container {
    width: 900px;
    height: 900px;
    background-color: grey;
    margin: auto;
    text-align: center;
}

p {
    margin-top: 0px;
}
